<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Vagai Imports & Exports</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo.png" />

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/line-icons.css" type="text/css" />
    <link rel="stylesheet" href="../css/flaticon.css" type="text/css" />

    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/default.css" type="text/css" />
    <link rel="stylesheet" href="../css/header.css" type="text/css" />
    <link rel="stylesheet" href="../css/footer.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../css/responsive1.css" type="text/css" />

    <link href="../css/settings.css" rel="stylesheet" type="text/css" />
    <link href="../css/layers.css" rel="stylesheet" type="text/css" />
    <link href="../css/navigation.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <!-- preloader -->
    <div class="smart-page-loader">
        <div class="wp-smart-loader smart-loader-five">
            <span class="spinner-cube-1 spinner-cube"></span>
            <span class="spinner-cube-2 spinner-cube"></span>
            <span class="spinner-cube-4 spinner-cube"></span>
            <span class="spinner-cube-3 spinner-cube"></span>
        </div>
    </div>
    <!-- preloader End -->
    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fa fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    <!-- Header Start -->
    <header class="main-header">
        <div id="sticky-header" class="header-upper">
            <div class="container">
                <div class="clearfix row align-items-center white-bg">
                    <div class="col-md-4 pull-left logo-box">
                        <div class="logo">
                            <a href="index.html"><img src="../../images/logo.png" alt="" title="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8 nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile-->
                        <div class="mobile-nav-toggler">
                            <span class="icon flaticon-menu-4"></span>
                        </div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-header">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse scroll-nav clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li >
                                        <a href="product.html">Products</a>
                                    </li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn">
                <span class="icon flaticon-cancel-1"></span>
            </div>

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="nav-logo">
                    <a href="index.html"><img src="../images/logo.png" alt="" title="" /></a>
                </div>

                <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </ul>
            </nav>
        </div>
        <!-- End Mobile Menu -->
    </header>
    <!-- Header End -->
    <!--Main Slider-->
    <section class="main-slider subbanner mb-0" style="background-image:url(../images/products.jpg)">
        <div class="po-t text-center">
            <div class="container">
                <h1>Products</h1>
            </div>
        </div>
    </section>
    <!-- End Main Slider -->
    <!-- Product Start -->
    <section class="service-sec pt-90 pb-90">
        <div class="container demo-2">
            <div class="row mb-50">
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <img src="/images/vegetables.jpg" alt="">
                        <h4 class="pt-15">Vegetables</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <img src="/images/fruits.png" class="p-4" alt="">
                        <h4 class="pt-15">Fruits</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <img src="/images/spicy.jpg" class="p-3" alt="">
                        <h4 class="pt-15">Spices</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1100ms">
                        <img src="/images/coconuts.png" alt="">
                        <h4 class="pt-15">Coconut</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1100ms">
                        <img src="/images/dried-coconut-copra.jpg" alt="">
                        <h4 class="pt-15">Copra</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1100ms">
                        <img src="/images/husked-coconut.jpg" alt="">
                        <h4 class="pt-15">Husked Coconut</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <img src="/images/cashew.jpg" alt="">
                        <h4 class="pt-15">Cashew Nut</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <img src="/images/lemon-essential-oil.jpg" alt="">
                        <h4 class="pt-15">Essential Oil</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <img src="/images/raw-herb.jpg" alt="">
                        <h4 class="pt-15">Raw Herb</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1300ms">
                        <img src="/images/areca_plates.jpg" alt="">
                        <h4 class="pt-15">Areca Plates</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1300ms">
                        <img src="/images/jaggery.jpg" alt="">
                        <h4 class="pt-15">Jaggery</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 pb-30">
                    <div class="min-heading prod_img wow slideInUp" data-wow-delay="0ms" data-wow-duration="1300ms">
                        <img src="/images/shallots-onion.jpg" class="p-5" alt="">
                        <h4 class="pt-15">Shallouts</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product End -->
    <footer class="footer-min pt-80">
        <div class="container pb-70">
            <div class="row">
                <div class="col-md-6 col-lg-3 pr-30">
                    <div class="footer-cont footer-logo wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <h3>About Us</h3>
                        <p>
                            As specialists in Import & Export, our expertise spans the globe, ensuring the efficient
                            trade of diverse goods worldwide.
                        </p>
                    </div>
                    <div class="copy-one wow slideInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                        <ul class="social-t">
                            <li>
                                <a href="#" class="facebook-change-co"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#" class="twitter-change-co"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="instagram-change-co"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-cont footer-logo mt-15 wow slideInUp" data-wow-delay="0ms"
                        data-wow-duration="1800ms">
                        <h3>Contact</h3>
                        <ul class="menu-footer-con wi-100">
                            <li>
                                <span><i class="fa fa-map-marker"></i></span> M/s Vaigai Imports & Exports
                                6/428-1, Srinivasa Nagar 6th Street
                                Kovilpatti - 628502
                                Thoothukudi DT
                                Tamilnadu, India
                            </li>
                            <li><span><i class="icon icon-call-in"></i></span> +91 8015598762</li>
                            <li style="white-space: nowrap;"><span><i class="flaticon flaticon-email-1"></i></span>
                                vaigaiimportsexports@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer-cont footer-logo mt-15 wow slideInUp" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <h3>Quick Links</h3>
                        <ul class="menu-footer wi-100">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer-cont footer-logo mt-15 wow slideInUp" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <h3>Our Values</h3>
                        <ul class="menu-footer wi-100">
                            <li><a href="#">Premium Products</a></li>
                            <li><a href="#">Quality Assurance</a></li>
                            <li><a href="#">Best on packaging and Delivery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer-cont footer-logo mt-15 wow slideInUp" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <h3>Membership & Certifications</h3>
                        <ul class="menu-footer wi-100">
                            <li><a href="#">FSSAI</a></li>
                            <li><a href="#">APEDA</a></li>
                            <li><a href="#">COFFEE BOARD</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-div wow slideInRight" data-wow-delay="0ms" data-wow-duration="1200ms">
            <button type="button" class="btn-img">
                <a href="https://api.whatsapp.com/send?phone=+9180155987629"><img alt="whatsapp" draggable="false"
                        src="../images/whatsapp.png" class="css-whatsapp"></a>
            </button>
        </div>

        <div class="container b-top pb-90 ">
            <div class="row">
                <div class="col-md-12">
                    <div class="right copy-one wow slideInUp" data-wow-delay="0ms" data-wow-duration="1600ms">
                        <p>
                            ©
                            <script>
                                var year = new Date();
                                document.write(year.getFullYear());
                            </script>,
                            Vaigai Imports & Exports. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- JS here -->
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/isotope.pkgd.min.js"></script>
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/wow.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>

    <script src="../js/jquery.themepunch.revolution.min.js"></script>
    <script src="../js/jquery.themepunch.tools.min.js"></script>
    <script src="../js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../js/extensions/revolution.extension.video.min.js"></script>
    <script src="../js/main-slider-script.js"></script>
</body>

</html>